.mainlatestPostWindow {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.latestPostWindow {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    height: fit-content;
    border: 0.5px solid #47445C;
    border-radius: 20px;
    margin: auto;
}

.latestPostImgWrap {
    display: flex;
    width: 320px;
    height: 129.38px;
    border-radius: 20px 20px 0 0;
}

.LatestPostImg {
    display: flex;
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

.latestPostMarginWrap {
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-around;
}

.latestPostInfo {
    display: flex;
    gap: 23px;
}

.latestPostDate {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.latestPostLength {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.latestPostTopic {
    font-weight: 300;
    font-size: 23px;
    line-height: 28px;
    min-height: 56px;
}

.latestPostProfile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.latestPostSynopsis {
    max-height: 90px;
    min-height: 80px;
    overflow: hidden;
}




/* for pagination component */

.paginationWrapper {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 20px 0;
    justify-content: center;
}
.paginationBtnWrap {
    display: flex;
    justify-content: center;
    height: inherit;
}

.paginationBtn {
    display: flex;
    width: 80%;
    gap: 20px;
    list-style: none;
    justify-content: center;
}

.paginationBtn a {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(15, 53, 94);
    color: rgb(15, 53, 94);
    cursor: pointer;
}

.paginationBtn a:hover {
    color: white;
    background-color: rgb(15, 53, 94);
}

.paginationActive a {
    color: white;
    background-color: rgb(15, 53, 94);
}
@media only screen and (max-width: 1280px) {
    .mainlatestPostWindow {
        gap: auto;
        margin: auto;
        justify-content: center;
    }

    .latestPostWindow {
        max-width: 320px;
        border: 0.5px solid #47445C;
        border-radius: 20px;
    }

    .latestPostImgWrap {
        width: 320px;
        max-height: 115px;
        border-radius: 20px 20px 0 0;
    }
}

@media only screen and (max-width: 850px) {}

@media only screen and (max-width: 700px) {}