.blogNav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #DFE3E8;
}

.navButtons {
    position: relative;
    left: 30px;
    gap: 2rem;
    display: flex;
    justify-content: space-between;
}

.communityPopUpWrap {
    position: absolute;
    background-color: #DFE3E8;
    left: 50%;
    top: 74px;
    transform: translateX(-50%);

}

.mobileSearchWrap {
    display: none;
}


@media only screen and (max-width: 850px) {

    .blogNav {
        padding: 1rem;
        align-items: center;
        justify-content: space-between;
    }

    .navButtons {
        display: none;
    }


    .mobileSearchWrap {
        display: flex;
        gap: 2rem;

    }

    .mobileBlogLinks {
        position: absolute;
        display: flex;
        background-color: #DFE3E8;
        flex-direction: column;
        width: 80vw;
        gap: 1.5rem;
        top: 3rem;
        overflow: hidden;
        text-align: left;
        padding: 1.5rem 0;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
    }

    .logoImg {
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .communityPopUpWrap {
        z-index: 7;
        top: 150px;
    }

    .searchComponent {
        display: none;
    }

    .mobileSearchDisplay {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        background-color: #DFE3E8;
        padding: 1rem 0;
    }
}