.blogNav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    width: 100vw;
    transition: 1s;
    z-index: 10;
}

.blogNavUnScrolled {
    padding: 1rem 2rem;
    background-color: #DFE3E8;
}

.blogNavScrolled {
    background-color: grey;
    padding: 0.5rem 2rem;
}

.navButtons {
    position: relative;
    left: 30px;
    gap: 2rem;
    display: flex;
    justify-content: space-between;
}

.communityPopUpWrap {
    position: absolute;
    background-color: #DFE3E8;
    left: 50%;
    top: 74px;
    transform: translateX(-50%);

}

.mobileSearchWrap {
    display: none;
}


@media only screen and (max-width: 850px) {

    .blogNav {
        padding: 1rem;
        align-items: center;
        justify-content: space-between;
        height: fit-content;
        width: 100vw;
    }

    .navButtons {
        display: none;
    }


    .mobileSearchWrap {
        display: flex;
        gap: 2rem;

    }

    .mobileBlogLinks {
        display: flex;
        background-color: inherit !important;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        gap: 1.5rem;
        top: 3rem;
        text-align: center;
        padding: 1rem;
        font-weight: 400;
        font-size: 20px;
    }

    .logoImg {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .communityPopUpWrap {
        z-index: 7;
        top: 150px;
    }

    .searchComponent {
        display: none;
    }

    .mobileSearchDisplay {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        background-color: inherit !important;
        padding: 1rem 0;
    }
}