.surveyWrapper {
    display: flex;
    place-items: center;
    justify-content: space-around;
    padding: 3rem 1rem;
}

.pana {
    width: 300px;
}

.surveyTextBox {
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.surveyText {
    max-width: 400px;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
}



.newsletterWrapper {
    display: flex;
    place-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 3rem 1rem;
}

.newsletterTextBox {
    max-width: 600px;
}

.newsletterText {
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.015em;
}

.newsletterImg {
    width: 300px;
}
@media only screen and (max-width: 1280px) {

}


@media only screen and (max-width: 850px) {

}


@media only screen and (max-width: 700px) {
    .surveyWrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
    }

    .surveyTextBox {
        max-width: 350px;
        text-align: center;
    }

    .surveyText {
        font-size: 20px;
        max-width: 330px;
    }


    .newsletterWrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
    }

    .newsletterImg {
        width: 225px;
    }

    .newsletterText {
        font-weight: 400;
        max-width: 350px;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
    }

    .pana {
        width: 220px;
    }
}