.navBasics {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    transition: 1s;
    width: 100%;
    height: fit-content;
}


.defaultFixedNav {
    padding: 2rem 2rem 1rem 2rem;
    background-color: transparent;
    position: sticky;
}

.fixedNav {
    background-color: gray;
    padding: 0.5rem 2rem 0.5rem 2rem;
    position: sticky;
}

.buttons {
    display: flex;
    gap: 3rem;
}

.mobilelinks, .caro {
    display: none;
}

/* For mobile devices */
@media only screen and (max-width: 700px) {

    .defaultFixedNav {
        padding: 1rem;
    }

    .fixedNav {
        padding: 1rem;
    }

    .buttons {
        display: none;
    }

    .caro {
        display: block;
    }

    .mobilelinks {
        display: flex;
        background-color: inherit !important;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        gap: 1.5rem;
        top: 3rem;
        text-align: center;
        padding: 1rem;
        font-weight: 400;
        font-size: 20px;
    }

    .logo {
        transform: scale(0.5);
    }
}